 
 <h1>Post</h1>
  <div class="row">
        <div class="col-md-6">
                 <select class="form-control" #u (change) ="loadPost({userId:u.value})">
                     <option value="">
                         Select a User...
                     </option>
                     <option *ngFor="let user of users" value={{user.id}}>
                         {{user.name}}
                     </option>
                 </select>
                 <pagination [items]="posts" 
                             [page-size]="pageSize"
                             (page-changed)="getPostsInPage($event)">
                 </pagination>
                 <spinner [isLoading]="isPostLoading"></spinner> 
                 <ul class="list-group post">
                    <li *ngFor="let post of postsPerPage" 
                         class="list-group-item"
                         [class.active]="post==selectedPost" 
                         (click)="onPostClick(post)">
                        {{post.title}}     
                    </li>
                </ul>
        </div>
        <div class="col-md-6">
            <post-holder *ngIf="selectedPost"
                         [post]="selectedPost"
                         [isLoading]="isPostDetailLoading"></post-holder>
        </div>
  </div>
